<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogs are superior</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<h1>Welcome to our Fat-Free Pets Page</h1>
<p>No table scraps here.</p>
<div class="img">
    <img src="./images/doberman.jpg" alt="Doberman">
    <img src="./images/shepherd.webp" alt="German Shepherd">
</div>
</body>
</html>